*~
/BezierLab.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
/BezierLab.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/BezierLab.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
/BezierLab.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/BezierLab.xcscheme
